<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="No_of_colums_in_excel" value=""/>
		<add key="Oracle_Id" value=""/>
		<add key="Employee_Name" value=""/>
		<add key="Email_Ids" value=""/>
		<add key="CC" value=""/>
		<add key="BCC" value=""/>
		<add key="DOB" value=""/>
		<add key="PAN_NO" value=""/>
		<add key="File_Names_To_Be_Attached" value=""/>
	</appSettings>
</configuration>